<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="container" style="padding-top:40px">
        {% for app in req_data %}
            <div class = "panel panel-primary">
                <div class="panel-heading">    <h1>Details</h1></div>
                <div class="panel-body">
                    <b>TITLE:</b>  {{app.app_title}}
                    <br/>
                    <b>SUB TITLE:</b>  {{app.app_sub_title}}
                    <br/>
                    <b>APP DESCRIPTION:</b> {{app.app_desc}}
                    <br/>
                    <br/>
                    <button onclick="window.history.back();" class="btn btn-primary">Back</button>
                </div>
            </div>
        {% endfor %}
    </div>

</body>
</html>
